@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Popins', sans-serif;
}
h1, a, span{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f7f7;
}
.App{
  width: 100%;
  padding: 40px;
}
.card-container{
  background-color: #ffffff;
  width: 500px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
  padding: 10px;
  margin: 0 20px;
}
.form{
  padding: 25px 30px;
}
.form.auth{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form a.button{
  font-weight: bold;
}
.form .heading{
  margin-bottom: 30px;
}